<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="loggingRoot" value="/usr/local/service/rpc"/>
    <property name="loggingLevel" value="INFO"/>

    <!-- [公共Appender] 控制台STDOUT -->
    <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <level>${loggingLevel}</level>
        <encoder charset="UTF-8">
            <!--%d日期格式；%p输出日志的优先级；%c所属类的全名；%l输出日志发生的位置，线程，代码行数；%m程序输出的信息；%n换行 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c:%L - %m%n</pattern>
        </encoder>
    </appender>

    <!-- [公共Appender] 默认 -->
    <appender name="DEFAULT-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <level>${loggingLevel}</level>
        <File>${loggingRoot}/logs/common-default.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-17c{2}:%L - %m%n
            </pattern>
        </encoder>
        <!-- 日期+大小policy  %d  指定日期   %i  指定大小-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${loggingRoot}/logs/common-default-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>-->
        <!-- 日期+大小policy  %d  指定日期 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingRoot}/logs/common-default-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.secrething.rpc" level="info"/>
    <root level="${loggingLevel}">
        <appender-ref ref="DEFAULT-APPENDER"/>
       <!-- <appender-ref ref="STDOUT-APPENDER"/> -->
    </root>

</configuration>
